::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  color: transparent;
  border-radius: 15px;
}

.wrapper_diary:first-of-type > .diary_date_wrapper > .diary_date {
  color: #f9f9f9;
}

.wrapper_diary > .diary_date_wrapper > .diary_date {
  color: #686868;
}
